.list-player-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0e141e;
    min-height: 300px;
    width: 100%; /* Assurez-vous que le conteneur prend toute la largeur */
}

.player-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 90%; /* Assurez-vous que la liste prend toute la largeur */
}

.player-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    width: 90%; /* Assurez-vous que chaque élément prend toute la largeur */
}

.player-name {
    flex: 1;
    text-align: left;
}

.player-lp {
    flex: 1;
    text-align: right;
}